*{
margin: 0;
box-sizing: border-box;
padding: 0;

}
#rectangle11{

  background-color: #ffcd9e;
  width: 100pw;
  height: 592px;
  flex-shrink: 0;
  position: relative;
}

#rectangle17{
background-color: #100F0D;
width: 100pw;
height: 298px;
flex-shrink: 0;
position: relative;

}
#t{
  color: #282828;
  position: absolute;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 150%;
display: flex;
width: 562px;
flex-direction: column;
flex-shrink: 0;
margin-left: 136px;
margin-top: 84px;


}

#tpara{
  color: #484848;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  display: flex;
width: 495px;
height: 81px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
position: absolute;
margin-left: 136px;
margin-top: 220px;
  
}

#thead{
  color: #282828;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: 160%;

display: flex;
width: 227px;
height: 81px;
flex-direction: column;
justify-content: center;
margin-left: 136px;
margin-top: 336px;
flex-shrink: 0;
position: absolute;

}
#text{
 position: absolute;
 margin-top: 412px;
 margin-left: 140px;
 border-color: black;
 border-width: 2px;
 height: 64px;
 width: 300px;
 border-radius: 5px;
 color: #888;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 160%;
text-align: center;
  

}

#butt{

  position: absolute;
  width: 216px;
height: 64px;
background-color: black;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 470px;
margin-top: 412px;
border-radius: 5px;

}

#whitebox{

  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 160%;
position: absolute;
margin-top: 480px;
margin-left: 160px;

}

#brow{
  position: absolute;
  margin-left: 965px;
  margin-top: 182px;
}
#brow1{
  position: absolute;
  margin-left: 1015px;
  margin-top: 182px;
}

#leye{
  position: absolute;
  margin-left: 975px;
  margin-top: 198px;
}
#reye{
  position: absolute;
  margin-left: 1022px;
  margin-top: 198px;
}

#nose{
  position: absolute;
  margin-left: 995px;
  margin-top: 200px;
}

#mouth{
  position: absolute;
  margin-left: 990px;
  margin-top: 247px;
}

#image{
  position: absolute;

  margin-top: 85px;
  margin-left: 800px;
}

#promt{
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  position: absolute;
  margin-top: 62px;
  margin-left: 191px;

}
#dweep{
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  position: absolute;
  margin-top: 62px;
  margin-left: 191px;
  margin-top: 98px;

}

#all{
  
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  position: absolute;
  margin-top: 134px;
  margin-left: 191px;
}

#your{
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  position: absolute;
  margin-top: 170px;
  margin-left: 191px;
}

#contri{
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  position: absolute;
  margin-top: 206px;
  margin-left: 191px;
}

#rdweep{
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  position: absolute;
  margin-top: 62px;
  margin-left: 1099px;
}


#made{
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  position: absolute;
  margin-top: 98px;
  margin-left: 990px;
}

#link{
  position: absolute;
  margin-left: 1120px;
  margin-top: 136px;
}

#insta{
  position: absolute;
  margin-left: 1150px;
  margin-top: 136px;
}

#help{
  color: #FFF;
text-align: right;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%;

position: absolute;
margin-top: 206px;
margin-left: 1050px;
}


